@import 'src/static/mixin';

.view-result-wrapper {
  @include flex(column, center, center);
  gap: 20px;
  width: 100%;
  color: $green;

  .answer-wrapper {
    @include flex(row, center, center);
    gap: 20px;
    width: 100%;
  }

  .time-wrapper,
  .correct-wrapper,
  .incorrect-wrapper {
    @include flex(column, center, center);
    gap: 10px;
    width: 100%;
    padding: 20px;
    border: 1px solid $green;
    border-radius: 10px;
    background: white;
  }
  .chart-wrapper {
    @include flex(row, space-between, center);
    width: 100%;

    .correct-chart-wrapper,
    .incorrect-chart-wrapper {
      position: relative;
      width: 40vw;
      height: 40vw;
      border: 1px solid $green;
      border-radius: 50%;

      .sub-title{
        position: absolute;
        top:50%;
        left:50%;
        @include flex(column, center, center);
        gap: 5px;
        width:20vw;
        height:20vw;
        border-radius: 50%;
        text-align:center;
        font-size: 15px;
        color: $green;
        transform: translate(-50%, -50%);
        background: white;
      }
    }
  }

  .sub-title {
    font-size: 20px;
    font-weight: bold;
  }

  .note-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: $green;
    color: white;
    text-align: center;
  }
}